:root {
    --bg-color: #FBF3F2;
    --fonts-color: #0B1830;
    --color-sec: #FA991C;
    --navbar-footer-bgcolor: #1C768F;
    --global-height: 300svh;
    --extra-color-1: #94D4DE;
    --extra-color-2: #91785D;
    border: 0;
    width: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.emailform {
    padding: 1rem;
    background-image: linear-gradient(90deg, var(--navbar-footer-bgcolor), var(--bg-color));
    color: var(--extra-color-1);
    display: flex;
    height: 4rem;
    justify-content: space-around;
    align-items: center;

}

.nav-container {
    background-color: #0B1830;
    height: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-sizing: content-box;
    text-indent: 50px;
    text-decoration: none;
}


.nav {
    text-decoration: none;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    width: 50%;


}



.navbar-list-container {

    text-decoration: none;
}

.navbar-list {
    list-style-type: none;
    text-decoration: none;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-sizing: content-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--extra-color-1);
    align-items: center;
}

.nav-link {

    text-decoration: none;
    align-self: center;
    align-content: center;
}

.nav-link:hover {
    color: var(--bg-color);
    scale: (105%);

}

.nav-link-active {
    color: var(--color-sec);
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-sizing: content-box;

}

h6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (width <=700px) {
    .navbar-list {
        display: block;
    }

    .nav-container {
        height: 15rem;
    }
}

@media (width <=500px) {
    .navbar-list {
        display: block;
    }

    .nav-container {
        height: 20rem;
    }
}




#container-hero {
    background-image: url(../multimedia/images/walkingvenice.jpeg);
    background-size: cover;
}

#hero {

    padding: 5rem;
    font-weight: 700;
    display: flex;
    gap: 10px;
    width: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--fonts-color);
    align-items: left;
    font-size: 50px;

}

@keyframes heroanimation {
    from {
        color: #97ffff;
        translate: -10rem;
    }

    to {
        translate: 0.6rem;
        color: var(--fonts-color);
    }
}

#hero:hover {
    animation-name: heroanimation;
    animation-duration: 3s;


}

main {

    align-content: center;
    height: inherit;
    justify-content: center;
    align-items: center;
}



body {
    width: inherit;
}






.tarjetas {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-rows: auto;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    gap: 1rem;
    width: auto;
    height: auto;
    box-sizing: border-box;
    align-items: center;
}



.card {
    margin: 2rem
}

#imagenes-tarjetas {
    column-width: 25rem;

}

.card:hover {
    transform: scale(1.1);

}

@media (width <=700px) {
    .tarjetas {
        display: block;

    }
}

@media (width <=500px) {
    .tarjetas {
        display: block;

    }
}

.container-div-opciones {
    background-color: var(--color-sec);
    display: flex;
}

.opciones-pitch {

    height: 20rem;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    display: block;
    flex-direction: column;
    align-self: flex-end;
    padding: 5rem;
    display: flex;
    text-align: left;
}

@keyframes example1 {
    from {
        translate: 0rem;
        font-size: 35px;
    }

    to {
        translate: 1rem;
        font-size: 40px;
    }
}

#titulo-opciones {
    font-weight: 700;
    color: var(--fonts-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-name: example1;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}

#titulo-opciones:hover {
    color: var(--bg-color);
}



.imagen-opciones {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    display: flex;

}



.imagen-opciones:hover {
    transform: scale(1.2);

}


@keyframes example1b {
    from {
        translate: 0rem;
        font-size: 15px;
    }

    to {
        translate: 1rem;
        font-size: 20px;
    }
}

#subtitulo-opciones {
    font-weight: 50;
    color: var(--fonts-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-name: example1b;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

#subtitulo-opciones:hover {
    color: var(--bg-color);
}

.container-div-impuestos {
    background-color: var(--bg-color);
    display: flex;
}

.impuestos-pitch {
    height: 20rem;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    display: block;
    flex-direction: column;
    align-self: flex-end;
    padding: 5rem;
    display: flex;
    text-align: right;

}

@keyframes example2 {
    from {
        translate: 0rem;
        font-size: 35px;
    }

    to {
        translate: 1rem;
        font-size: 40px;
    }
}

#titulo-impuestos {
    font-weight: 700;
    color: var(--fonts-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-name: example2;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;

}

#titulo-impuestos:hover {
    color: var(--color-sec);
}

@keyframes example2b {
    from {
        translate: 0rem;
        font-size: 15px;
    }

    to {
        translate: 1rem;
        font-size: 20px;
    }
}

#subtitulo-impuestos {
    font-weight: 50;
    color: var(--fonts-color);
    font-family: Arial, Helvetica, sans-serif;
    animation-name: example2b;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

#subtitulo-impuestos:hover {
    color: var(--color-sec);
}

.container-div-formulario {
    background-color: var(--fonts-color);
    display: flex;
}

.formulario-pitch {

    height: 20rem;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    display: block;
    flex-direction: column;
    align-self: flex-end;
    padding: 5rem;
    display: flex;
    text-align: left;

}

@keyframes example3 {
    from {
        translate: 0rem;
        font-size: 35px;
    }

    to {
        translate: 1rem;
        font-size: 40px;
    }
}

#titulo-formulario {
    font-weight: 500;
    color: var(--bg-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-name: example3;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;

}

#titulo-formulario:hover {
    color: var(--color-sec);
}

@keyframes example3b {
    from {
        translate: 0rem;
        font-size: 15px;
    }

    to {
        translate: 1rem;
        font-size: 20px;
    }
}

#subtitulo-formulario {
    font-weight: 50;
    color: var(--bg-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-name: example3b;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

#subtitulo-formulario:hover {
    color: var(--color-sec);
}

@media (width <=500px) {

    .container-div-opciones {
        display: block;
        flex-direction: column;
    }

    .opciones-pitch {}

    #titulo-opciones {
        display: block;
        width: inherit;
        flex-wrap: wrap;

    }

    #subtitulo-opciones {
        display: block;
        width: fit-content;
        height: fit-content;
        max-width: fit-content;
    }

    .container-div-impuestos {
        display: block;
        flex-direction: column;
    }

    .impuestos-pitch {}

    #titulo-impuestos {
        display: block;
        width: inherit;
    }

    #subtitulo-impuestos {
        display: block;
        width: fit-content;
        height: fit-content;
        max-width: fit-content;

    }

    .container-div-formulario {
        display: block;
        flex-direction: column;
    }

    .formulario-pitch {}

    #titulo-formulario {
        display: block;
        width: inherit;
    }

    #subtitulo-formulario {
        display: block;
        width: fit-content;
        height: fit-content;
    }

}

.banner-container {
    background-image: linear-gradient(#FBF3F2, #94D4DE);
    height: 3rem;
    width: 100%;

}






#banner-texto {

    font-size: 30px;
    font-weight: 400;

    color: #0B1830;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@keyframes marquee {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* Add a class to the element to trigger the animation */



.container-emailformmovimiento {
    padding: 110px;
    background-color: #1C768F;
    color: var(--color-sec);
    display: grid;
    align-items: center;

    background-color: #1C768F;


}



.emailformmovimiento {
    padding: 70px;
    font-size: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-box-sizing: content-box;
    color: var(--fonts-color);
    text-align: center;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(75deg, var(--navbar-footer-bgcolor), var(--bg-color));
    height: 15rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: content-box;
    border-radius: 5px;


}

.emailformmovimiento:hover {
    color: var(--bg-color);
}

#container-banner {
    background-image: url(../multimedia/images/exchange2.jpeg);
    background-size: cover;
    background-position-y: 700px;
    height: 25rem;

}

#main-divisas {
    background-color: var(--fonts-color);
    padding: 110px;
    color: var(--color-sec);
    display: grid;
    align-items: center;
    margin: 0%;
}

.container-form-group {

    padding: 100px;
    background-color: var(--fonts-color);
    color: var(--fonts-color);
    display: -webkit-box;
    height: 15rem;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    width: 50%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-box-sizing: content-box;

}

#form-divisas {
    background-image: linear-gradient(180deg, #94D4DE, var(--fonts-color));
    border-color: var(--bg-color);
    border: 2px;
    border-radius: 3px;
    margin: auto;
    font-size: 20px;
    gap: 2rem;
    box-sizing: content-box;


}



footer {
    padding-top: 2rem;
    height: 20rem;
    width: 100%;
    background-color: var(--navbar-footer-bgcolor);
    color: var(--color-sec);
    text-align: center;
    align-items: center;
}

#footer-text {
    margin: 90px;
}

@media (width <=700px) {
    .footer-text {
        display: block;
    }

    .footer {
        height: 35rem;
        align-items: flex-start
    }

}

@media (width <=500px) {
    .footer-text {
        display: block;
        margin: 90px
    }

    .footer {
        height: 35rem;
        align-items: flex-start
    }

}
