:root {
    --bg-color: #FBF3F2;
    --fonts-color: #0B1830;
    --color-sec: #FA991C;
    --navbar-footer-bgcolor: #1C768F;
    --global-height: 300svh;
    --extra-color-1: #94D4DE;
    --extra-color-2: #91785D;
    border: 0;
    width: inherit;


}

.emailform {
    padding: 1rem;
    background-color: var(--navbar-footer-bgcolor);
    color: var(--color-sec);
    display: flex;
    justify-content: space-around;
    align-items: center;

}





nav {
    height: 30rem;
    width: 100%;
    text-align: left;
    background-color: var(--navbar-footer-bgcolor);
    color: var(--fonts-color);
    background-image: url(../multimedia/images/walkingvenice.jpeg);
    backdrop-filter: blur(50px);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
}

#hero {
    padding: 5rem;
    display: flex;
    width: 5rem;
    text-align: left;
}

#navbar {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding: 20px;


    -ms-flex-align: end;
    position: relative;

}

#menu-title {
    color: #0B1830;
}


body {
    width: inherit;
}

.container-fluid {
    align-self: flex-end;
}




.tarjetas {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-rows: auto;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    gap: 1rem;
    width: auto;
    height: auto;
    box-sizing: border-box;
    align-items: center;
}

.tarjetas:hover {

    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-rows: auto;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    gap: 1rem;
    width: auto;
    height: auto;
    box-sizing: border-box;
    align-items: center;
}

.card {
    margin: 2rem
}

@media (width <=500px) {
    .tarjetas {
        display: block;

    }
}

.container-div-opciones {
    background-color: var(--color-sec);
    display: flex;
}

.opciones-pitch {

    height: 20rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: block;
    flex-direction: column;
    align-self: flex-end;
    padding: 5rem;
    display: flex;
    text-align: left;
}

@keyframes example1 {
    from {
        translate: 0rem;
        font-size: 30px;
    }

    to {
        translate: 2rem;
        font-size: 45px;
    }
}

#titulo-opciones {
    font-weight: 700;
    color: var(--fonts-color);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: example1;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}

#titulo-opciones:hover {
    color: var(--bg-color);
}

.imagen-opciones {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    display: flex;
    align-items: flex-end
}

@keyframes example1b {
    from {
        translate: 0rem;
        font-size: 10px;
    }

    to {
        translate: 2rem;
        font-size: 23px;
    }
}

#subtitulo-opciones {
    font-weight: 50;
    color: var(--fonts-color);
    font-family: Arial, Helvetica, sans-serif;
    animation-name: example1b;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

#subtitulo-opciones:hover {
    color: var(--bg-color);
}

.container-div-impuestos {
    background-color: var(--bg-color);
    display: flex;
}

.impuestos-pitch {
    height: 20rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: block;
    flex-direction: column;
    align-self: flex-end;
    padding: 5rem;
    display: flex;
    text-align: right;

}

@keyframes example2 {
    from {
        translate: 0rem;
        font-size: 30px;
    }

    to {
        translate: 3rem;
        font-size: 45px;
    }
}

#titulo-impuestos {
    font-weight: 700;
    color: var(--fonts-color);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: example2;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;

}

#titulo-impuestos:hover {
    color: var(--color-sec);
}

@keyframes example2b {
    from {
        translate: 0rem;
        font-size: 10px;
    }

    to {
        translate: 2.5rem;
        font-size: 23px;
    }
}

#subtitulo-impuestos {
    font-weight: 50;
    color: var(--fonts-color);
    font-family: Arial, Helvetica, sans-serif;
    animation-name: example2b;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

#subtitulo-impuestos:hover {
    color: var(--color-sec);
}

.container-div-formulario {
    background-color: var(--fonts-color);
    display: flex;
}

.formulario-pitch {

    height: 20rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: block;
    flex-direction: column;
    align-self: flex-end;
    padding: 5rem;
    display: flex;
    text-align: left;

}

@keyframes example3 {
    from {
        translate: 0rem;
        font-size: 30px;
    }

    to {
        translate: 3rem;
        font-size: 45px;
    }
}

#titulo-formulario {
    font-weight: 500;
    color: var(--bg-color);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: example3;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;

}

#titulo-formulario:hover {
    color: var(--color-sec);
}

@keyframes example3b {
    from {
        translate: 0rem;
        font-size: 10px;
    }

    to {
        translate: 3rem;
        font-size: 23px;
    }
}

#subtitulo-formulario {
    font-weight: 50;
    color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    animation-name: example3b;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

#subtitulo-formulario:hover {
    color: var(--color-sec);
}

@media (width <=500px) {

    .container-div-opciones {
        display: block;
        flex-direction: column;
    }

    .opciones-pitch {}

    #titulo-opciones {
        display: block;
        width: inherit;
        flex-wrap: wrap;

    }

    #subtitulo-opciones {
        display: block;
        width: fit-content;
        height: fit-content;
        max-width: fit-content;
    }

    .container-div-impuestos {
        display: block;
        flex-direction: column;
    }

    .impuestos-pitch {}

    #titulo-impuestos {
        display: block;
        width: inherit;
    }

    #subtitulo-impuestos {
        display: block;
        width: fit-content;
        height: fit-content;
        max-width: fit-content;

    }

    .container-div-formulario {
        display: block;
        flex-direction: column;
    }

    .formulario-pitch {}

    #titulo-formulario {
        display: block;
        width: inherit;
    }

    #subtitulo-formulario {
        display: block;
        width: fit-content;
        height: fit-content;
    }

}




footer {
    padding-top: 2rem;
    height: 10rem;
    width: 100%;
    background-color: var(--navbar-footer-bgcolor);
    color: var(--color-sec);
    text-align: center;
    align-items: center;
}
